<p id="notice"><%= notice %></p>

<h3>Beskeder</h3>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Oprettelses dato</th>
      <th>Forfatter</th>
      <th>Optioner</th>
      <th>Læst?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <strong><td><%= message.created_at %></td></strong>
        <strong><td><%= message.author_name %></td></strong>
        <td><%= link_to 'Vis', message_path(message), class: "btn btn-secondary" %></td>
        <td>
        <%if message.read?(@current_user)%>   
          <i class="fa fa-check-square fa-4" aria-hidden="true"/>
        <%else%>
          <i class="fa fa-minus-square fa-4" aria-hidden="true"/>
        <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


