%h3 Ny besked
%br/
= simple_form_for [@current_user, @message], url: url_for(action: 'create', controller: 'messages'), method: 'post' do |f|
  = render 'form', message: @message, f: f
= link_to 'Back', user_messages_path, class: "btn btn-secondary"
