%h1 Log ind på AspIT-teach
= simple_form_for '/login' do |f|
  /= f.input :email, label: "Email"
  /= f.input :password, label: "Kodeord"
  /= f.submit "Log ind", class: "btn btn-default"
  Email: #{text_field_tag :email}
  Password: #{password_field_tag :password}#{submit_tag "Log ind"}