%tr
  %th Brugernavn
  %th Email
  %th Optioner
  %th{:colspan => "3"}
%tbody
  - @school_students.each do |user|
    %tr
      %td
        %strong= user.username
      %td
        %strong= user.email
      %td= link_to "Dagbogsnotater", user_diary_entries_path(user_id: user.id), class: "btn btn-secondary"
  %br/
