<h1>Rediger instruktion</h1>

<%= render 'form', instruction: @instruction %>

<%= link_to 'Vis', @instruction, class: "btn btn-success" %> |
<%= link_to 'Instruktioner', instructions_path, class: "btn btn-success" %>
