<li class="nav-item">
  <%=link_to "Elever", users_path, class: "nav-link" %>
</li>

<li class="nav-item">
  <%=link_to "Ulæste dagbogs notater (#{@current_user.unread_diary_entries_count})", unread_diary_entries_index_path(@current_user), class: "nav-link " %>
</li>

