%li
  = link_to users_path do 
    %i.fa.fa-graduation-cap
    Elever
%li
  = link_to user_diary_entries_path(@current_user) do 
    %i.fa.fa-book
    Ulæste dagbogs notater (
    = @current_user.unread_diary_entries_count
    )
