<li class="nav-item">
  <%=link_to "Skole", schools_path, class: "nav-link"%>
</li>

<li class="nav-item">
  <%= link_to "Skole klasser", grades_path, class: "nav-link"%>
</li>

<li class="nav-item">
  <%= link_to "Brugere", users_path, class: "nav-link"%>
</li>

