<h3>Rediger dagbogsnotat</h3>
<br>

<%= render 'form', diary_entry: @diary_entry %>

<%= link_to 'Vis', @diary_entry, class: "btn btn-secondary" %> |
<%= link_to 'Tilbage', diary_entries_path, class: "btn btn-secondary" %>
