<p id="notice"><%= notice %></p>

<h1>Dagbogs notater</h1>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Oprettelses dato</th>
      <th>Forfatter</th>
      <th>Optioner</th>
      <th>Læst?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diary_entries.each do |diary_entry| %>
      <tr>
        <strong><td><%= diary_entry.created_at %></td></strong>
        <strong><td><%= diary_entry.author_name %></td></strong>
        <td><%= link_to 'Vis', user_diary_entry_path(id: diary_entry.id), class: "btn btn-secondary" %></td>
        <td>
        <%if diary_entry.read?(@current_user)%>   
          <i class="fa fa-check-square fa-4" aria-hidden="true"/>
        <%else%>
          <i class="fa fa-minus-square fa-4" aria-hidden="true"/>
        <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


