%table
  %thead
    %tr
      %th kommentare
      %th{:colspan => "3"}
  %tbody
    - @diary_entry.comments.each do |comment|
      %tr
        %td
          %strong
            = comment.content
            %strong
