@import "bootstrap";
@import "bootsy";
@import "font-awesome";

body{
  background-color: #2c2c2c;
}

navbar{
  color: white;
}

.fa-check-square-o {
  height: 50px;
  with: 50px;
}


.wrapper{
 background-color: white;
 margin-top: 3%; 
 margin-left: 10%;
 margin-right: 10%;
 padding: 1%;
 height: 100%;
 border-radius: 5px;
}

.btn{
  margin: 4px;
}

.box {
  width: auto;
  height: auto;
  margin-top: 20px;
  margin-left: 10px;
  float: left;
}

.button-box{
  width: 20px;
  height: 10px;
  margin-top: 10px;
}

