@import "bootstrap";
@import "bootsy";
@import "font-awesome";

.fa-check-square-o {
  height: 50px;
  with: 50px;
}


.wrapper{
 margin-top: 5%; 
 margin-left: 15%;
 margin-right: 15%;
}

.btn{
  margin: 4px;
}

thead{
  background-color: black;
  color: white; 
}
