<h3>Rediger Ugeskema</h3>

<%= render 'form', scheduel: @scheduel %>

<%= link_to 'Vis', @scheduel, class: "btn btn-secondary" %> |
<%= link_to 'Tilbage', scheduels_path, class: "btn btn-secondary" %>
